{
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true,
        "mocha": true,
        "jquery": true,
        "es6": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-console": "off"
    },
    "globals": {
        "ace": true,
        "Vue": true,
        "ROOT": true,
        "DEPTH": true
    }
}